# (database_password is required and the other entries default to postgres defaults.
# Database
DATABASE=postgres
DATABASE_HOST="69.69.69.69"
DATABASE_USER=postgres
DATABASE_PASSWORD=A PASSWORD
DATABASE_PORT=5432

# Tokens (Only "token" is required)

TOKEN=A.DISCORD.TOKEN
GOOGLE=A.GOOGLE.TOKEN
SPOTIFY_ID=aSpotifyId
SPOTIFY_SECRET=aSpotifySecret
