asyncpg~=0.25.0
python-dotenv~=0.19
hikari[speedups]~=2.0.0.dev105
hikari-sake~=1.0.0a1
hikari-tanjun~=2.2.2a1
hikari-yuyo~=1.0.5a1.post1
markdownify~=0.10.1
psutil~=5.9
uvloop~=0.16; platform_system != "Windows"
uvicorn~=0.16
youtube_dl~=2021.12.17
# Since this is for the find references feature, 
# don't care about versioning like at all.
hikari-lightbulb
