name: Lint

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 12 * * 6"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f
        with:
          submodules: "true"

      - name: Set up Python 3.10
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.10"

      - name: install prerequisites
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install -r ./piped/python/base-requirements/nox.txt

      - name: Lint markup
        run: python -m nox -s verify-markup

      - name: Check spelling
        run: python -m nox -s spell-check

      - name: Lint with flake8
        run: python -m nox -s flake8
